.apparel {
  width: 100vw;
  padding: 2% 0%;
  height: 80vh;
}

.apparelInHomeIntro {
  width: 100vw;
  padding: 2% 0%;
  height: 80vh;
}

.apparelHeading {
  float: left;
  color: white;
  font-family: "Varela", sans-serif;
  margin-top: 0%;
  padding: 0% 3%;
}

.sideBar {
  width: 40vw;
  margin-top: 20%;
  text-align: left;
}

.sideBarHeading {
  border-bottom: 1px solid black;
  padding: 5% 1%;
}

.apparelSex {
  font-size: 10px;
  color: white;
  margin-top: 10%;
  margin-bottom: 5%;
}

.apparelSexInHomeIntro {
  font-size: 10px;
  color: white;
  position: absolute;
  bottom: 10%;
  width: 100%;
}

.apparelSexOption {
  margin-left: 5%;
}

.apparelSex .active {
  color: #b4252d;
  font-weight: bold;
}

.productCardsContainer {
  max-height: 70.5vh; /*74 is ideal or  71.5*/
  overflow: scroll;
}
