.aboutUs {
  margin-top: 10%;
  padding: 2% 10%;
  width: 100vw;
}

.about {
  margin-top: 10%;
  font-size: 10px;
  color: gray;
  font-family: "Varela", sans-serif;
  letter-spacing: 1px;
  text-align: justify;
}
